<div class="content">
  <div ng-controller="NinjaController">
    <button ng-click="order = 'title'">Order by Name </button>
    <button ng-click="order = 'today'">Order by Date </button>
    <input type = "text" ng-model="search" placeholder="search"/>
    <ul>
      <li ng-repeat="ninja in ninjas | orderBy: order | filter: search" ng-show="ninja.available">
        <h3>{{ninja.title}}</h3>
        <div class = "remove" ng-click="removeNinja(ninja)">X</div>
        <span>{{ninja.today | date}}</span>
      </li>
    </ul>
    <form ng-submit="addNinja()">
      <input type = "text" placeholder="Title" ng-model="newninja.title"/>
      <input type = "submit" value="Add new ninja"/>
    </form>
  </div>
</div>
